@using ATPTopTen.ViewModel
<!DOCTYPE html>
@{
    //load different background every hour
    var htmlBackground = "html-background-" + (int.Parse(DateTime.Now.ToString("hh")) % 4 + 1);
}
<html class="background-cover @htmlBackground">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @*@Html.Partial("_NavBar")*@
    @*@Html.Partial("../Player/_HeadToHead")*@

        <div id="main-container" class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2017 - @DateTime.Now.Year Ezekiel Gallardo</p>
            </footer>
        </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>