@using Microsoft.Ajax.Utilities
@model ATPTopTen.ViewModel.PlayerViewModel

@functions {
    public string PlayerFullName { get; set; }
}

@{
    ViewBag.Title = "Player Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    PlayerFullName = Model.Player.FirstName + " " + Model.Player.LastName;
}
@{
    string positionClass;

    switch (Model.Player.Rank)
    {
        case 1:
            positionClass = "medium-size gold";
            break;
        case 2:
            positionClass = "medium-size silver";
            break;
        case 3:
            positionClass = "medium-size bronze";
            break;
        default:
            positionClass = null;
            break;
    }
}
<br/>
<div data-container="body" class="btn btn-primary">
    @{
        @Html.ActionLink("< Back to top ten", "TopTenList", "Player", null, null)
    }
</div>
<div id="details-container">
    <div class="inline">
        <h1>@PlayerFullName</h1>
    </div>
    <div class="btn btn-primary inline indented">
        @{
            @Html.ActionLink("Add to Favorites", "AddToFavorites", "Player", null, null)
        }
    </div>
    <div id="header-details">
        <div class="inline">
            <div id="ranking">
                <h3>
                    Ranking: @Model.Player.Rank <span class="@positionClass indented"></span>
                </h3>
            </div>
            <div id="country indented">
                <h3>
                    Nationality: @Model.Player.Country.Name <img class="inline black_border flag indented" src="~/Images/Countries/@(Model.Player.Country.Code).svg" alt="@Model.Player.Country.Name">
                </h3>
            </div>
        </div>
        @{
            var profileImagePath = "~/Images/Players/" + Model.Player.LastName + "1.jpg";
            if (File.Exists(Server.MapPath(profileImagePath)))
            {
                <div id="profile-image" class="inline">
                    <img class="profilePicture" src="~/Images/Players/@(Model.Player.LastName)1.jpg" alt="@PlayerFullName" />
                </div>
            }
        }
    </div>
    @{
        if (!Model.Player.CareerSummaryHtml.IsNullOrWhiteSpace())
        {
            <div id="details-biography">
                <h2 class="bold">Career Summary:</h2>
                <p>
                    @(Html.Raw(HttpUtility.HtmlDecode(Model.Player.CareerSummaryHtml
                          .Replace("<p>&gt; ", "<ul><li>").Replace("&gt;", "<li>"))))
                </p>
            </div>
        }
    }
    @{
        var imagePath = "~/Images/Players/" + Model.Player.LastName + "2.jpg";
        if (File.Exists(Server.MapPath(imagePath)))
        {
            <div id="details-picture">
                <p>
                    <img class="fullPicture" src="~/Images/Players/@(Model.Player.LastName)2.jpg" alt="@PlayerFullName" />
                </p>
            </div>
        }
    }
</div>
<div>
    <div class="btn btn-primary">
        @{
            if (Model.Player.Rank > 1)
            {
                @Html.ActionLink("< Previous", "PlayerDetailsByRank", "Player", new { rank = Model.Player.Rank - 1 }, null)
            }
            else
            {
                @Html.ActionLink("< Back to top ten", "TopTenList", "Player", null, null)
            }
        }
    </div>
    <div id="next-button" class="btn btn-primary">
        @{
            if (Model.Player.Rank < 10)
            {
                @Html.ActionLink("Next >", "PlayerDetailsByRank", "Player", new { rank = Model.Player.Rank + 1 }, null)
            }
            else
            {
                @Html.ActionLink("Go to Top Ten >", "TopTenList", "Player", null, null)
            }
        }
    </div>
</div>