@model IEnumerable<ATPTopTen.ViewModel.PlayerViewModel>

@{
    ViewBag.Title = "ATP Top Ten Players";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="center-text">@ViewBag.Title</h1>

<div id="main-logo" class="inline">
    <img height="500" src="~/Images/atp_masters_logo.png" />
</div>
<div class="inline margin40">
    @foreach (var player in Model)
    {
        string positionClass;

        switch (player.Player.Rank)
        {
            case 1:
                positionClass = "small-size gold";
                break;
            case 2:
                positionClass = "small-size silver";
                break;
            case 3:
                positionClass = "small-size bronze";
                break;
            default:
                positionClass = null;
                break;
        }
        var playerName = @player.Player.FirstName + " " + @player.Player.LastName;

        <div>
            <h2 class="inline">@player.Player.Rank. @Html.ActionLink(playerName, "PlayerDetailsByRank", "Player", new { rank = player.Player.Rank }, null)</h2>
            <div class="inline @positionClass"></div>
        </div>
    }
</div>