@model ATPTopTen.ViewModel.PlayerListViewModel

@{
    ViewBag.Title = "ATP Top Ten Players";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@Html.Partial("../Player/_HeadToHead")*@
<br />
<h1 class="center-text indented-top">@ViewBag.Title</h1>

<div id="main-logo" class="inline">
    <img height="500" src="~/Images/atp_masters_logo.png" />
</div>
<div id="playerList" class="inline margin40">
    @foreach (var player in Model.Players)
    {
        string positionClass;

        switch (player.Rank)
        {
            case 1:
                positionClass = "small-size gold";
                break;
            case 2:
                positionClass = "small-size silver";
                break;
            case 3:
                positionClass = "small-size bronze";
                break;
            default:
                positionClass = null;
                break;
        }
        var playerName = @player.FirstName + " " + @player.LastName;

        var favoritesClass = player.IsFavorite ? "fav-star-image" : string.Empty;

        <div>
            <h2 class="inline">
                @player.Rank. @Html.ActionLink(playerName, "PlayerDetailsByRank", "Player", new { rank = player.Rank }, null)
            </h2>
            <div class="inline @positionClass"></div>
            <div class="inline fav-small @favoritesClass"></div>
        </div>

        @*<script>
                var playerData = @player.Player.HeadToHeads.Where()???
            </script>*@

        @*<button data-player-id="@playerName (0)"
                    class="btn btn-primary js-head1">Head 1</button>
            <button data-player-id="@playerName (0)"
                    class="btn btn-primary js-head2">Head 2</button>*@
    }
</div>

@*@section scripts
    {
        <script>
            $(document).ready(function () {
                $("#playerList").on("click", ".js-head1",
                    function () {
                        var button = $(this);
                        var head1 = document.getElementById("head1data");
                        head1.innerHTML = button.attr("data-player-id");
                    });

                $("#playerList").on("click", ".js-head2",
                    function () {
                        var button = $(this);
                        var head2 = document.getElementById("head2data");
                        head2.innerHTML = button.attr("data-player-id");
                    });
            });
        </script>
    }*@