@model IQueryable<WebApplication5.Models.Player>

@{
    ViewBag.Title = "ATP Top Ten";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

@foreach (var player in Model)
{
    string positionClass;

    switch (player.Rank)
    {
        case 1:
            positionClass = "small-size gold";
            break;
        case 2:
            positionClass = "small-size silver";
            break;
        case 3:
            positionClass = "small-size bronze";
            break;
        default:
            positionClass = null;
            break;
    }
    var playerName = @player.FirstName + " " + @player.LastName;

    <div>
        <h2 class="inline">@player.Rank. @Html.ActionLink(playerName, "PlayerDetailsByRank", "Player", new { position = player.Rank }, null)</h2>
        <div class="inline @positionClass"></div>
    </div>
}